
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotomedium-webfont.eot');
    src: url('../fonts/robotomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotomedium-webfont.woff2') format('woff2'),
         url('../fonts/robotomedium-webfont.woff') format('woff'),
         url('../fonts/robotomedium-webfont.ttf') format('truetype'),
         url('../fonts/robotomedium-webfont.svg#roboto_mediumregular') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotoregular-webfont.eot');
    src: url('../fonts/robotoregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoregular-webfont.woff2') format('woff2'),
         url('../fonts/robotoregular-webfont.woff') format('woff'),
         url('../fonts/robotoregular-webfont.ttf') format('truetype'),
         url('../fonts/robotoregular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}